body {
    color: black;
    background-color:#85654a;
}


.jobb_o {
    top: 7.5px;
    right: 7.5px;
    position: fixed;
    height: 100%;
    width: 13.4%;
    float: right;
    background-color: #85654a;
}


div.menu {
    background-color: #c4c4c4;
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
}

.menu li {
    padding: 10px 15px 10px 0;
    text-align: justify;
    font-size: 1.1em;
}

.menu a:link,
a:visited {
    color: black;

}

.menu h3,
#kenyer_s h3,
.kenyer_f h3 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 1.3em;
    font-family: cursive;
}

#kenyer_s,
.kenyer_f {
    background-color: #c4c4c4;
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.jobb_o img {
    width: 80%;
    border-radius: 20px;
    margin-left: 18px;
    margin-bottom: 10px;
}

.kenyer_f video {
    width: 80%;
    border-radius: 10px;
    margin-left: 18px;
    margin-bottom: 10px;
}


.bal_o {
    width: 86%;
    float: left;
    text-align: center;
    background-color: #b38763;
}

div.udvozlo {
    text-align: center;
    padding: 8px 0;
    margin: 0 auto;
    background-color:#FFD700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

div.test {

    text-align: justify;
    padding: 0 10px;
    font-size: 1.2em;
    color: #FFD700;
}
.test h2 {
    margin: 30px 30px 40px 30px;
    text-align: left;
    color: rgb(1, 48, 92);
}
.jobbra{
    float: right;
    margin-left: 10px;
    height: 100px;
    border: 1px solid black;
}
.balra{
    float: left;
    margin-right: 10px;
    height: 100px;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.aktive {
    text-decoration: underline;
}

a:hover {
    font-weight: bold;
}