body {
    background-image: url(images/buzamezo.png);
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.3em;
}

header {
    color: white;
    text-align: center;
    padding: 8px 0;
    background-color: #0f0e0ee3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
    width: 100%;
}

nav {
    border-top: 3px solid rgb(194, 194, 194);
    padding: 8px 0;
    background-color: #0f0e0ee3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    text-align: center;

}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding-right: 50px;

}

nav a {
    color: rgba(255, 255, 255, 0.541);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.aktive {
    text-decoration: underline;
}

section {
    color: black;
    padding: 10px;
    background-color: #ffffffe3;
    width: 70%;
    border-radius: 15px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 65px;
    font-size: 1.1em;
    box-shadow: 10px 10px 20px;
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.1);
}

section .li {
    margin-top: 20px;
    border: 1.5px solid #3f3e3e33;
    padding: 15px;
    border-radius: 30px;
}

section .li:hover {
    background-color: white;
}

.kiemeles {
    color: rgb(194, 170, 35);
    font-weight: bold;
}

div.kezdo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#kenyer_s h3,
.kenyer_f h3 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 1.3em;
    font-family: cursive;
}

#kenyer_s,
.kenyer_f {
    border: 1px solid black;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kenyer_s img {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.kenyer_f video {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}

div.kezdo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#kenyer_s h3,
.kenyer_f h3 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 1.3em;
    font-family: cursive;
}

#kenyer_s,
.kenyer_f {
    border: 1px solid black;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kenyer_s img {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.kenyer_f video {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#table {
    margin-bottom: 50px;
}

#table:hover {
    transform: scale(1.05);
}

table {
    margin: 5px auto;
    color: black;
    background-color: white;
    border: 3px solid black;
    text-align: center;
}

th {
    border: 2px solid black;
    padding: 30px 10px;
    background-color: #0f0e0ee3;
    color: white;
}

td {
    border: 2px solid black;
    padding: 10px;
}

table,
td,
th {
    border-collapse: collapse;
}

td img {
    height: 150px;
}

section#osszefog {
    width: 50%;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 0.9em;
}

#osszefog li {
    text-align: center;
    list-style-type: upper-roman;
    list-style-position: inside;
    margin-top: 20px;
    border: 1.5px solid #3f3e3e33;
    padding: 15px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    font-size: 1.2em;
}

#osszefog a {
    color: white;
}

#osszefog h2 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 2.0em;
    color: #143642;
    border-bottom: 3.5px solid #0f0e0ee3;
}

div.tortenet {
    margin-top: 90px;
    margin-bottom: 50px;
}

div.tortenet section {
    padding-bottom: 40px;
}

.jobbra {
    float: right;
    margin-left: 10px;
    height: 150px;
    border: 1px solid black;
    margin-top: 30px;
    margin-right: 10px;
}

.balra {
    float: left;
    margin-right: 10px;
    height: 150px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 10px;
}

.hit {
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 35pt;
}

.holy_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 300px;
    border: 1px solid yellow;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(1, 73, 1);
}