body {
    color: black;
}

a {
    text-decoration: none;
}

div.udvozlo {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: aqua;
    border-radius: 10px;
    width: 86%;
    float: left;
}

div.menu {
    background-color: #c4c4c4;
    padding: 0px 10px;
    float: right;
    display: inline;
    border: 1px solid black;
    top: 7.5px;
    right: 7.5px;
    position: fixed;
    margin: 0 0 10px 0;
    
}
.menu li {
    padding: 10px 15px 10px 0;
    text-align: justify;
    font-size: 1.1em;
    
}
 .menu a:link,a:visited{
    color: black;
    
 }
.menu h3{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 1.3em;
    font-family: cursive;
}
div.test{
    width: 87%;
    float: left;
    text-align: justify;
    padding-left: 5px;
}